app/Storage/*


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
.vscode/settings.json
orthanc.zip
gaelo_processing/.env
app/storage/image/image_fusion_test.nii
app/storage/image/image_1.3.12.2.1107.5.1.4.45520.30000013102404450495300000013_PT.nii
app/storage/image/image_1.3.12.2.1107.5.1.4.45520.30000013102404450495300000013_CT.nii
.gitignore
